@import "reset";

////VARIABLES
$xs: 12px;
$sm: 16px;
$md: 20px;
$lg: 30px;
$xl: 40px;

$grey: #333;
$grey-lt: #ccc;

$break1: 996px;
$break2: 600px;
$break3: 480px;

////ACCESSIBILITY
body:not(.accessibility-mode) *:focus {
  outline: none;
}

////GENERAL STYLES
* {
  box-sizing: border-box;
}
body {
  font-family: monospace;
  text-align: center;
}
h1 {
  // margin-top: 15px;
  font-size: $sm;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 8px;
}
h2 {
  font-size: $xs;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h3 {
  text-transform: uppercase;
  font-style: italic;
}
h4 {
  font-style: italic;
}
p {
}
a {
  color: $grey;
  text-decoration: none;
  border-bottom: 1px dotted;

  &:hover,
  &:active,
  &:focus {
    border-bottom: 1px solid;
  }
}
div.link {
  @extend a;
  display: inline-block;
  cursor: pointer;
  height: 1.4em;
}
b {
  font-weight: bold;
}

.hidden {
  display: none;
}

[v-cloak] {
  display: none;
}

button,
input,
textarea {
  padding: 8px 12px;
  vertical-align: middle;
  font-family: monospace;
  border: 1px solid black;
}
button {
  color: white;
  background-color: black;

  text-transform: uppercase;

  &:active,
  &:hover,
  &:focus {
    background-color: $grey-lt;
    border: 1px solid $grey-lt;
    color: white;
  }
}

////PAGE LAYOUT STYLE
#container {
  position: relative;
  display: inline-block;
  background-image: url("../img/grid.svg");
  width: $break1;
  min-height: 90vh;
  padding: 140px 3% 4% 4%;
  border-bottom: 1px solid black;
}
@media all and (max-width: $break1) {
  #container {
    padding: 100px 2% 2% 2%;
    width: 100%;
  }
}

header {
  position: fixed;
  top: 0;
  box-sizing: border-box;

  background-color: white;
  width: $break1;
  height: 80px;
  text-align: left;
  margin-left: -4%;
  padding: 20px 0;
  border-bottom: 1px solid black;

  z-index: 900;
}
@media all and (max-width: $break1) {
  header {
    left: 0;
    padding-left: 20px;
    width: 100%;
    margin-left: 0;
  }
}
@media all and (max-width: $break2) {
  header {
    height: 60px;
    left: 0;
    margin: 0;
    padding: 10px 0 10px 10px;
  }
}

#identity {
  height: 40px;

  > * {
    display: inline-block;
    vertical-align: middle;
  }
  img {
    height: 100%;
    width: auto;
    margin-right: 10px;
  }
}
@media all and (max-width: $break1) {
  #identity {
    // padding-left: 40px;
  }
}
@media all and (max-width: $break3) {
  #identity h1 {
    display: none;
  }
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
.overlay {
  background-color: $grey;
  opacity: 0.5;
  z-index: 0;
}

footer {
  padding: 20px 0;
  width: $break1;
  text-align: right;
  display: inline-block;
}
@media all and (max-width: $break1) {
  footer {
    width: 100%;
    padding-right: 20px;
  }
}

////APP STYLES
#app {
  text-align: left;
}

.album {
  display: inline-block;
  position: relative;
  width: 31%;
  height: auto;
  margin: 1%;

  .loading {
    width: 100%;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $grey-lt;
    z-index: 0;
  }

  iframe {
    position: relative;
    width: 100%;
    height: 500px;
  }
}
@media all and (max-width: $break1) {
  #app .album {
    width: 48%;

    iframe {
      height: 75vw;
    }
  }
}

.edit-tools {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 42px;
  overflow-y: hidden;
  width: 100%;
  text-align: right;

  > button,
  > div {
    padding: 0;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: white;
    text-align: center;
    border: 0;
    vertical-align: middle;
    border-bottom: 4px solid transparent;
    display: inline-block;

    &:hover {
      border-color: $grey-lt;
    }

    &:active {
      border-color: black;
    }

    img {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 50%;
      margin-top: -12px;
      left: 50%;
      margin-left: -12px;
    }
  }
}

@media all and (max-width: $break2) {
  #app .album {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    iframe {
      height: 140vw;
    }
  }
}

#userinput {
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: 140px;
  width: 320px;
  height: 80px;
  line-height: 75px;
  z-index: 999;

  .icons {
    text-align: right;
  }
  .icons button {
    background-color: transparent;
    color: black;
    text-align: center;

    box-sizing: border-box;
    border: none;
    border-bottom: 4px solid;
    border-color: transparent;
    padding: 0 4px;
    width: 32px;
    height: 40px;
    color: black;
    font-size: $md;
    margin: 20px 5px 0;
    vertical-align: top;

    &:not(.faint):not(.clicked):hover {
      border-color: $grey-lt;
    }
    &:active,
    &:focus {
      background-color: transparent;
    }
    &.clicked {
      border-color: black;
    }

    img {
      vertical-align: top;
    }
  }
  .submenu {
    position: absolute;
    width: 360px;
    top: 80px;
    right: 0;
    background-color: white;
    line-height: 1.5em;
    padding: 15px;
    border: 1px solid;
    border-top: 0;
    margin-top: -1px;

    h3:not(:first-child) {
      margin-top: 15px;
    }
    p {
      margin-bottom: 8px;
    }
    li {
      margin-left: 10px;
      list-style-type: square;
      list-style-position: outside;
    }

    img {
      vertical-align: bottom;
    }
    input {
      width: calc(100% - 32px);
    }
    button {
      width: 32px;
    }
    textarea {
      width: 100%;
      float: left;
      height: 60px;
      margin: 0;
      font-size: $xs;
      border: 1px solid black;
    }
  }
  #about {
    padding-bottom: 20px;
  }
  #faq-open {
    position: absolute;
    width: auto;
    height: auto;
    right: 20px;
    top: 100%;
    margin-top: -15px;
  }
}
@media all and (max-width: $break2) {
  #userinput {
    height: 60px;
    line-height: 60px;
    .icons button {
      margin-top: 10px;
    }
    .submenu {
      top: 60px;
    }
  }
}

#faq {
  position: fixed;
  z-index: 999;

  .overlay {
    position: absolute;
  }

  .container-text {
    position: relative;
    border: 1px solid black;

    width: 900px;
    left: 50%;
    margin-left: -450px;
    height: 90%;
    top: 5%;

    padding: 40px 40px;
    overflow-y: scroll;

    background-color: white;
    z-index: 1;
  }
  button {
    top: 0;
    left: 100%;
    &:first-of-type {
      margin-bottom: 20px;
    }
    &:last-of-type {
      margin-top: 20px;
    }
  }
}
@media all and (max-width: $break1) {
  #faq .container-text {
    width: 600px;
    margin-left: -300px;
  }
  #faq button {
    // margin-left: 300px - 32px - 10px;
  }
}
@media all and (max-width: $break2) {
  #faq .container-text {
    left: 0;
    margin-left: 0;
    width: 100vw;
    height: 92%;
    top: 4%;
    border: 0;
    padding: 60px 20px 20px 20px;

    button {
      // margin-left: 0;
      // left: auto;
      // right: 10px;
      // top: 4%;
      // margin-top: 10px;
    }
  }
}

#errormessage {
  position: absolute;
  border: 1px solid;
  margin: 0;
  margin-top: 30px;
  left: -1px;
  width: 360px;
  padding: 15px;

  background-color: white;
  line-height: 1.5em;

  button {
    float: right;
  }
}

@media all and (max-width: $break1) {
  #userinput {
    left: auto;
    right: 5%;
    margin-left: 0;
  }
}
@media all and (max-width: $break3) {
  #userinput {
    left: auto;
    right: 0;
    padding-right: 20px;
    width: 100%;

    .submenu {
      width: 100vw;
      border: 0;
      border-bottom: 1px solid;
    }
  }
}

@import "transitions";
