button:not(.faint) {
  transition: opacity .4s;
}
button.faint {
  transition: opacity .4s;
  opacity: 0.2;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .4s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-enter-active, .slide-leave-active {
  transition: height .4s;
}
.slide-enter, .slide-leave-to {
  height: 0px;
}
