<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <meta name='description' content='Easily collect and share albums and tracks from Bandcamp' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />

  <!-- OpenGraph -->
  <meta property='og:title' content='MULTYBAND | bandcamp backlogger' />
  <meta property='og:description'
    content='A one-page app that lets you aggregate and easily share music from Bandcamp.' />
  <meta property='og:type' content='website' />
  <meta property='og:url' content='https://oldhaunt.org/multyband' />
  <meta property='og:image' content='https://oldhaunt.org/multyband/img/logo-xl.png' />
  <meta property='og:image:type' content='image/png' />
  <meta property='og:image:width' content='1200' />
  <meta property='og:image:height' content='633' />

  <title>MULTYBAND</title>
  <script src='./js/main.js' type='application/javascript' async></script>
  <link rel='stylesheet' type='text/css' href='./css/main.min.css?v=0.1' />
  <!-- Favicons: -->
  <link rel='apple-touch-icon' sizes='180x180' href='./img/favicons/apple-touch-icon.png'>
  <link rel='icon' type='image/png' sizes='32x32' href='./img/favicons/favicon-32x32.png'>
  <link rel='icon' type='image/png' sizes='16x16' href='./img/favicons/favicon-16x16.png'>
  <link rel='manifest' href='./img/favicons/manifest.json'>
  <link rel='mask-icon' href='./img/favicons/safari-pinned-tab.svg' color='#5bbad5'>
  <meta name='theme-color' content='#ffffff'>
</head>

<body>
  <div id='container'>
    <header>
      <div id='identity'><img src='./img/logo.svg' />
        <h1>multyband</h1>
      </div>
    </header>

    <div id='app' v-cloak>
      <aside id='userinput'>
        <div class='icons'>
          <button v-on:click='show.input = !show.input; show.save = false; show.about = false;'
            :class='{ clicked: show.input }' title='Add album'><img src='./img/plus.svg' /></button>
          <button v-on:click='show.edit = !show.edit && show.editIcon'
            :class='{ clicked: show.edit && show.editIcon, faint: !show.editIcon }' title='Toggle editing mode'><img
              src='./img/edit.svg' /></button>
          <button v-on:click='show.save = !show.save; show.input = false; show.about = false; saveData();'
            :class='{ clicked: show.save }' title='Save/share link'><img src='./img/external-link.svg' /></button>
          <button v-on:click='show.about = !show.about; show.save = false; show.input = false;'
            :class='{ clicked: show.about }' title='About'>?</button>
        </div>
        <div class='submenu' v-if='show.input'>
          <h2 class='hidden'>Add an album:</h2>
          <input type='text' placeholder='Link to album/song on Bandcamp' v-model='album.href'
            v-on:keyup.enter='addAlbum' /><button v-on:click='addAlbum' title='Add album'>+</button>
          <div id='errormessage' v-if='error.input'>
            <h3>ERROR</h3>
            <p>{{ error.text }}</p>
            <button v-on:click='errorSwitch("off")' title='Close'>x</button>
          </div>
        </div>
        <div class='submenu' v-if='show.save'>
          <h2 class='hidden'>Save/share data:</h2>
          <p>Save/share your list by copying this link:</p>

          <textarea :value='io.save' id='saveURL' onfocus='this.select();' onmouseup='return false;'></textarea>
        </div>
        <div class='submenu' id='about' v-if='show.about'>
          <h2 class='hidden'>ABOUT:</h2>
          <p>MULTYBAND lets you keep track of music from <a href='https://bandcamp.com'>Bandcamp</a>. Gather your
            favourite music onto a single page, then save or share it as a link.</p>

          <p><img src='./img/plus.svg' /> Add music to your collection</p>
          <p><img src='./img/edit.svg' /> Edit collection</p>
          <p><img src='./img/external-link.svg' /> Save/share your collection as a link</p>

          <button id='faq-open' v-on:click='show.faq = true' title='Read more'>...</button>
          <transition name='fade'>
            <section v-if='show.faq' id='faq' class='fullscreen'>
              <div class='fullscreen overlay' v-on:click='show.faq = false'></div>
              <div class='container-text'>
                <button v-on:click='show.faq = false' title='Close'>X</button>
                <h2 class='hidden'>MORE INFO</h2>
                <p>MULTYBAND was made by <a href='https://superko.org'>SUPERKO</a> and is not affiliated with Bandcamp.
                  Please direct all inquiries to hello@superko.org or open an issue <a
                    href='https://gitlab.com/superko/multyband/issues'>at
                    GitLab</a>. Feedback is welcome.</p>

                <h3>PIPEDREAM FEATURES</h3>
                <ul>
                  <li>Sort & reorder entries, add to middle</li>
                  <li>Change view (small player, mini player)</li>
                  <li>User accounts???</li>
                </ul>

                <h3>MADE WITH && THANKS TO</h3>
                <ul>
                  <li><a href='https://vuejs.org'>Vue.js</a></li>
                  <li><a href='https://github.com/pagekit/vue-resource'>vue-resource</a></li>
                  <!-- <li><a href='https://github.com/SortableJS/Vue.Draggable'>Vue.Draggable</a></li> -->
                  <li><a href='http://sass-lang.com/'>Sass</a></li>
                  <li><a href='https://feathericons.com'>Feather</a></li>
                </ul>

                <h3>F.A.Q.</h3>
                <h4>What's this thing for?</h4>
                <p>I found myself regularly looking up albums on Bandcamp that I wanted to check out, but then I'd be
                  20 deep and all the tabs in my browser would get tiny and futile, or I'd shut down my computer and
                  forget everything. So I built this simple tool to aggregate albums onto a single page which could
                  then be easily saved as a link. Originally intended as a backlogger, it works equally well as a way
                  to share any collection of albums -- your favs, best-of lists, inspirations & moodboards ...</p>

                <h4>Can you add volume controls? playlists? other DJ tools?</h4>
                <p>These features would be rad but for technical reasons are impossible.</p>
                <p>Bandcamp's embedded players are each essentially a mini Bandcamp website loaded inside a frame on
                  this page. This means that all of the controls & events (e.g. volume, knowing when songs have started
                  or stopped) are still on the Bandcamp side, out of my reach.</p>

                <h4>Will you add support for Youtube, Spotify, Soundcloud, Pandora...?</h4>
                <p>No. Partly for technical reasons, and also because those sites all have "collection" functionality
                  already.</p>
                <p>Mainly, though, I just like Bandcamp. They're album-focused, the audio quality is good, and they
                  seem to legit care about musicians.</p>
                <button v-on:click='show.faq = false' title='Close'>X</button>
              </div>
            </section>
          </transition>
        </div>
      </aside>

      <h2 class='hidden'>Album list:</h2>
      <div class='album' v-for='(album, index) in albums'>
        <div class='loading'></div>
        <iframe
          :src='"https://bandcamp.com/EmbeddedPlayer/" + album.type + "=" + album.albumId + "/size=large/bgcol=ffffff/linkcol=333333/transparent=true/"'
          seamless>
          <!--
            This is included in Bandcamp's embed code but doesn't actually seem necessary
            <a :href='album.href'>
              {{ album.credit }}
            </a>
            -->
        </iframe>
        <transition name='slide'>
          <div class='edit-tools' v-if='show.edit'>
            <!-- <div title='Click and drag' v-on:mousedown='show.save = false'><img src='./img/move.svg'/></div> -->
            <button v-on:click='deleteAlbum(index)' title='Delete this album'><img src='./img/x.svg' /></button>
          </div>
        </transition>
      </div>
    </div>
  </div>

  <footer>
    by <a href='https://www.superko.org'>SUPERKO</a> | <a href='https://gitlab.com/superko/multyband'>view source</a>
  </footer>
</body>

</html>